/* 초기화 */
* { margin:0; padding:0; box-sizing:border-box; }
body, html {
  width:100%;
  height:100%;
  font-family:'SUIT Variable', sans-serif;
  line-height: 1.5em;
  background-color:#fff;
  min-width:320px;
  font-weight: 300;
  overflow-x:auto;}

/* 헤더 */
header {
  position: sticky;
  top:0;
  left:0;
  width:100%;
  min-width:320px;
  overflow-x:auto;
  white-space:nowrap;
  background-color:#fff;
  display:flex;
  justify-content:space-between;
  align-items:center;
  z-index:1100;
  padding: 10px 20px;
}
.logo {
  height:50px;
  display:flex;
  align-items:center;}
.logo .kr{
  height:50px;
  font-family: "Gowun Batang", sans-serif;
  font-weight:700;
  font-size:2em;
  line-height:1.5em;
}
.logo .en{
  padding-left:0.5em;
  text-align:left;
  font-family: "Gowun Batang", sans-serif;
  font-weight:700;
  font-size: 1em;
  word-spacing:-0.1em;
  line-height: 1em;}

.logo-link {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
}

.logo-link:hover {
  text-decoration: none;
}

/* 메인 */
main {padding:0;}
h1 {
  text-align:center;
  font-family: "Gowun Batang", sans-serif;
  font-weight:700;
  font-size:2em;
  padding-bottom:1em;}
li {
  list-style-position: inside; /* 점을 글자 안쪽으로 */
}

/* 푸터 */
footer { margin:60px 10px 30px 10px; text-align:center; font-size:0.8em; }

/* 메뉴 */
nav { position:relative; }
.menu {
  font-family:"Gowun Batang", sans-serif;
  font-weight:700;
  display:inline-flex;
  list-style:none;
  align-items:center;
  gap:1.2rem;
  transition: max-height 0.5s ease-in-out;
}
.menu li.close-menu {display:none;}
.menu li {font-size:1em;}
.menu li a { text-decoration:none; color:#000; transition: color 0.3s; }
.menu li a:hover {color:#999;}
.menu li.lang {color:#ddd; font-size:0.8em;}
.menu li.lang a {color:#aaa; transition: filter 0.3s ease-in-out;}
.menu li.lang a:hover {filter:brightness(70%);}
.menu img.icon {width: 13px; height: 13px; object-fit: contain; margin:5px 2px 0 2px; filter:brightness(300%);}
.menu-toggle {
  display:none; 
  font-size:1.5rem; 
  background:none; 
  border:none; 
  cursor:pointer; }

/* 슬라이드 */
.slider {
  width:100%; 
  height:70vh; 
  position:relative; 
  overflow:hidden;
  margin-bottom:3em;}
.slides { 
  width:100%; 
  height:100%; 
  position:relative; }
.slides img {
  position:absolute;
  top:0; left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  opacity:0;
  transition:opacity 1s ease-in-out;
}
.slides img.active { opacity:1; }

.slider-overlay {
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  background: linear-gradient(to top, rgba(0,0,0,0.3), rgba(0,0,0,0));
  pointer-events: none;
  z-index: 900;
}

.slider-intro {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align:center;
  text-shadow: 0px 0px 10px rgba(0,0,0,1);
  margin: 0 0 3.5em 0;
  padding: 0em;
  z-index: 900;
  width:80%;
  max-width: 50em;
}

.slider-intro h2 {
  margin-bottom: 0.3em;
  font-size: 2em;
  font-weight: 700;
  font-family:"Gowun Batang", sans-serif;
  text-align: center;
  line-height: 1em;
}

.slider-intro p {
  font-size: 1.2em;
  text-align: center;
  line-height: 1.5em;
}

.slider-intro .intro {
  display: none;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.slider-intro .intro.active {
  display: block;
  opacity: 1;
}

/* 화살표 */
.slider .prev, .slider .next {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  background:none;
  color:rgba(225,225,225,0.7);
  border:none;
  font-size:50px;
  padding:0.5rem 0.5rem;
  cursor:pointer;
  z-index:1000;
  border-radius:3px;
  transition: color 0.3s;
}
.prev:hover, .next:hover { color:rgba(225,225,225,1); }
.prev { left:10px; }
.next { right:10px; }

/* 도트 */
.dots {
  position:absolute;
  bottom:20px;
  width:100%;
  text-align:center;
  z-index:1000;
}
.dot {
  display:inline-block;
  width:12px;
  height:12px;
  margin:0 5px;
  background-color: rgba(225,225,225,0.5);
  border-radius:50%;
  cursor:pointer;
  transition: background-color 0.3s;
}
.dot.active { background-color: rgba(225,225,225,1); }

/* 인덱스 최근 뉴스 */
.more-news {
  text-align: center;
  margin: 2em 0;
}

.more-news a {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-weight: 700;
  padding: 0.8em 1em;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1em;
}

.more-news a:hover {
  background-color: #999;
  color: #fff;
}

/* 뉴스 리스트 */
.news-list {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em 1.5em 3em 1.5em;
}
.recent-news {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em 1.5em;
}
.news-item {
  display:flex;
  align-items: space-between;
  padding: 0.5em 0;
  gap:0;
  border-bottom: 1px solid #ccc;
}

.news-item .date {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 200;
  font-size: 1em;
  color: #999;
  flex-shrink: 0;
}

.news-item .title {
  font-family: "SUIT Variable", sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow:1;
  min-width:0;
  text-decoration: none;
}

.news-item .title:hover {
  color: #999;
  text-decoration: none;
}

.pagination { text-align:center; margin-top:2em; }
.pagination a {
  display:inline-block;
  margin:0 5px;
  padding:0.2em 0.6em;
  text-decoration:none;
  color:#000;
  border:none;
  transition: background-color 0.3s, color 0.3s;
}
.pagination a.active, .pagination a:hover {
  background-color:#ccc;
  color:#000;
  border:none; }

.news-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 2em 0;
  font-size: 0.95em;
}

.news-nav a {
  margin:0;
  display: inline-block; 
  vertical-align: middle;  
  text-decoration: none;
  color: #000;
  font-weight: 700;
  transition: color 0.3s;
}
.news-nav span {
  margin:0;
  display: inline-block; 
  vertical-align: middle;  
  text-decoration: none;
  color: #ccc;
  font-weight: 700;
  transition: color 0.3s;
}

.news-nav a:hover {
  color: #999;
}

/* 뉴스 상세 페이지 */
.news-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 3em 1.5em 1em 1.5em;
}
.news-content h1 {
  font-family: "Gowun Batang";
  font-weight:700;
  font-size:2em;
  margin-bottom:1em; 
}
.news-content p {
  font-size: 1em;
  margin: 0 0 1em 0;}
.news-content a {
  display:inline-block; 
  text-decoration:none; 
  color:#000; 
  transition:color 0.3s;
  font-weight:700; 
}
.news-content a:hover { 
  color:#999; 
}
.news-content img {
  width:100%;
}
.news-content .news-date {
  font-size: 1em; 
  color: #999;        
  text-align: left;    
  font-family: 'SUIT Variable', sans-serif;
  font-weight: 500;
}
.news-content h1.news-title {
  font-size: 1.5em;        
  font-weight: 700;
  font-family: 'SUIT Variable', sans-serif;
  text-align: left;       
  margin-bottom: 1em;
  line-height: 1.2em;
  word-break: break-word;  
}
.news-content-text {
  font-size: 1em;
  line-height: 1.5em;
  color: #000;
}
#news-detail {
  margin: 0 0 5em 0;
}
#news-detail a{
  font-weight: 500;
  color:#000;
  text-decoration: line-through;
  text-decoration-thickness: 1.2em;
  text-decoration-color: rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  display: inline; 
  white-space: normal;
}
#news-detail a:hover{
  font-weight: 500;
  color:#999;
}
.news-detail-aftertext{
  display:inline;
}

/* 작업 리스트 */
.work-list {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em 0;
}
.more-work {
  text-align: center;
  margin: 2em 0;
}
.more-work a {
  display:inline-block; 
  text-decoration:none; 
  color:#000; 
  transition:color 0.3s;
  font-weight:700; 
}
.more-work a:hover {
  color:#999;
  text-decoration: none;
}
.work-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em 2em 1em;
}

.work-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 0.5em;
  cursor: pointer;
}

.work-item .thumbnail {
  flex-shrink: 0;
  width: 100%;
  aspect-ratio: 16 / 9;
  background-size: cover;
  background-position: center;
  background-color: #ccc;
}


.work-item .work-info {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}

.work-item .work-info .category {
  flex-shrink:0;
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-size: 0.8em;
  font-weight: 700;
  padding: 0 0.4em;
  white-space: nowrap;
}

.work-item .work-info .title {
  flex-grow: 1;
  min-width: 0;
  font-size: 1em;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.work-categories {
  text-align: center;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

.work-categories button {
  padding: 0.2em 0.5em;
  font-size: 1em;
  font-weight: 700;
  background-color: #fff;
  color: #000;
  border:none;
  cursor: pointer;
  transition: all 0.3s;
}

.work-categories button:hover {
  background-color: #000;
  color: #fff;
}

.work-categories button.active {
  background-color: #000;
  color: #fff;
}

/* 작업 상세 페이지 */
.work-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 3em 1.5em 1em 1.5em;}
.work-content .work-categories{ 
  display: inline-block;
  padding: 0.3em 0.8em;
  margin: 0;
  font-size: 1em;
  font-weight: 700;
  background-color: #000;
  color: #fff;
  border:none;}
.work-content .work-title {
  font-size: 2.2em;        
  font-weight: 700;
  font-family: 'SUIT Variable', sans-serif;
  text-align: left;       
  margin: 0.3em 0 1em 0;
  line-height: 1.2em;
  word-break: break-word;}
.work-content h2{
  font-size: 1.5em;
  margin-top: 2em;
}
.work-content p{
  font-size: 1em;
  margin: 0 0 1em 0;
}
.work-content li{
  font-size: 1em;
  margin: 0 0 0.5em 0;
}


/* 소개 */
.about-img {
  width:100%;
  max-width:500px;
  margin:0 auto;
}
.about-img img {
  width: 100%;
  height:auto;
  display:block;
}
.about-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 3em 1.5em 1em 1.5em;}
.about-content h2{
  font-size: 3em;
  margin: 1em 0 0.2em 0;
  font-weight: 900;
  line-height: 1em;
  text-align: center;
}
.about-content h3{
  font-size: 1.4em;
  margin: 0 0 1em 0;
  font-weight:700;
  line-height:1.2em;
  text-align: center;
}
.about-content h4{
  font-size: 1.5em;
  margin: 2em 0 0.5em 0;
}
.about-content p{
  font-size: 1em;
  margin: 0 0 0.5em 0;
}
.about-content table{
  border:none;
  width: auto;
}

.about-content tr{
  border:none;
  vertical-align: top;
}
.about-content td.col1{
  border:none;
  width: 7em;
  font-weight: 700;
}
.about-content td.col2{
  border:none;
}
.about-content td.col3{
  border:none;
  width: 3.5em;
  font-weight: 700;
}


/* 모바일 */
@media(max-width:768px){
  header { z-index: 1100; }
  .menu {
    flex-direction:column;
    position:fixed;
    top:0;
    right:0;
    width:12em;
    background-color:#fff;
    transform:translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index:1050;
    gap:0;
    align-items: flex-end;
    padding: 1em;
  }
  .menu.active { transform:translateY(0em); }
  .menu li { padding:10px; font-size:1.2em;}
  .menu li.lang { padding:10px; font-size:0.9em; }
  .menu li.close-menu {
    display:block;
    font-size:2em;
    cursor:pointer;
    padding:0;
  }
  .menu-toggle { display:block;}

  .slider {
  height:50vh; 
  }

  .slider-intro h2 {
  margin-bottom: 0.3em;
  font-size: 1.5em;
  font-weight: 700;
  font-family:"Gowun Batang", sans-serif;
  text-align: center;
  line-height: 1em;
}

.slider-intro p {
  font-size: 1em;
  text-align: center;
  line-height: 1.5em;
}

  .news-item {
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-start;
    gap: 0;
    padding: 1em 0;
    margin:0;
  }

  .news-item .title {
    flex-basis: 100%;    
    white-space: normal; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 0;
  }

  .news-item .date {
    flex-basis: 100%;
    font-size: 0.9em;
  }

  .work-container {
    grid-template-columns: 1fr;
    gap: 2em;
    margin: 0.5em;
  }

  .work-item {
    flex-direction: column;
    gap: 0.5em;
    min-height: auto;
  }

  .work-item .thumbnail {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    background-color: #ccc; /* 이미지 없을 때 회색 */
    background-size: cover;
    background-postion: center;
  }

  .work-item .work-info {
    display: grid;
    grid-template-columns: auto 1fr; /* 카테고리는 auto, 제목은 나머지 */
    column-gap: 0.5em;
    align-items: start; /* 카테고리 상단 정렬 */
    width: 100%;
  }

  .work-item .work-info .category {
    grid-column: 1;
    margin-top:0;
  }

  .work-item .work-info .title {
    font-size:1.3em;
    margin: 0;
    grid-column: 2;
    min-width: 0; /* 줄바꿈, ellipsis 적용 위해 필요 */
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 제목 최대 몇 줄인지 */
    -webkit-box-orient: vertical;
  }
  .about-content h2{
    text-align: center;
  }
  .about-content h3{
    text-align: center;
  }
}